.contents{
    padding: 10px;
    width: 800px;
    margin: 0px auto;
    text-align: center;
    margin-top: 72px;
}

.foodName{
    font-size: 16px;
    letter-spacing: 1px;
}

.foodAd{
    font-size: 12px;
}

.table{
    display: table;
    margin: 0 auto;
    width: 50%;
    padding-top: 10px;
}

.moreInfo{
    display: table-row;
}

.cell{
    display: table-cell;
    text-align: left;
    height: 20px;
}

#map {
    margin: 0 auto;
}

button{
    margin-top: 10px;
    margin-right: 10px;
    height: 40px;
    width: 160px;
    font-family: 부대;
}

@media screen and (max-width: 768px) {
    h3{
        font-size: 20px;
    }
    .contents{
        width: 90%;
    }

    .table{
        width: 60%;
        font-size: 12px;
    }
    
}

@media (min-width: 992px) and (max-width: 1199px) {

}
