* {
  margin: 0px;
  padding: 0px;
}

body{
  font-family: 부대;
  overflow-x: hidden;
  background-color: white;
}

h1{
  text-align: center;
  font-size: 2.5rem;
}

h3{
  color:dimgray;
  text-align: center;
  font-size: 30px;
}

a{
  text-decoration-line: none;
color : inherit;
}

ul{
  list-style: none;
  text-decoration: none;
}

.moreBtn{
  margin-top: 20px;
  font-family: ddag;
  background-color: white;
  color: black;
  font-size: 14px;
  padding: 10px 10px;
}

.moreBtn:hover{
  background-color: black;
  color: white;
}

.main{
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

.wel{
  height: auto;
  line-height: 40px;
  text-align: center;
  font-size: 16px;
  justify-content: center;
}

/* 그리드 */
.grid-container {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  margin-top: 20px;
  padding: 0px 20px;
}

.grid-container img { 
  width: 100%;
}

/* 메뉴바 */
.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 20px 12px;
  top: 0;
  width: 100%;
  height: 28px;
  z-index: 100;
  position: fixed;
  border-bottom: solid 1.5px rgb(9, 111, 50);
}

.nav_logo{
  position: absolute;
  left: 100px;
  font-size: 18px;
}

.nav_menu{
  font-size: 14px;
  display: flex;
  padding-left: 0;
  margin: 0;
}

.nav_menu li{
  padding: 8px 30px;
}

.nav_menu li:hover{
  color: green;
}

.nav_toggleBtn{
  display: none;
}

.inner{
  height: 100%;
  text-align: center;
  left: 20px;
  position: relative;
  margin-top: 100px;
  font-size: 1.75rem;
}

.inner p {
  margin: 10px 0;
}

.btn{
  display: none;
  position: absolute;
  right: 10px;
  font-size: 28px;
  color: black;
}

/* 본문 */
.container{
  background-color: #ffffff;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.foodlist{
  height: 100%;
  background-color: white;
  position: relative;
  margin: 0 auto;
}

.list{
  margin-top: 20px;

}

.fooditem{
  background-color: white;
  position: relative;
}

.fig{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 0.1px solid rgb(205, 205, 205);
}

figure img{
  width: 200px;
  height: 200px;
}

figcaption{
  margin-left: 10px;
}

figcaption span{
  text-align: left;
}

.itemName{
  max-width: 64%;
  font-size: 1.2em;
  color: #555;
  line-height: 1.3em;
  white-space: nowrap;
  text-align: left;
}

.itemAd{
  width: 200px;
  font-size: 0.8rem;
  color: #9b9b9b;
  line-height: 1.3em;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 5px;
}

.aboutBtn{
  font-size: 0.5rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  text-align: right;
  cursor: pointer;
}

.swiper{
  margin: 20px 40px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.swiper-image{
  border-radius: 20px;
  overflow: hidden;
  box-shadow: inset 0px 44px 18px 0px black;
}

.swiper-image img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  transition: transform .5s ease;
  opacity: 0.9;
}

.swiper-image:hover img{
  overflow: hidden;
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

.swiper-slide p{
  margin-top: 20px;
}

.swiper-button-prev,
.swiper-button-next {
  background-color: #fff;
  opacity: 0.8;
  width: 48px;
  height: 48px;
  border: 2px solid rgb(9, 111, 50);
  border-radius: 50%;
  color: black !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 0.8rem;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  /**메뉴바**/
  .navbar{
    margin: 0;
    align-items: flex-start;
  }
  
  .nav_menu{
    align-items: center;
    width: 100%;
    display: none;
    flex-direction: column;
  }

  .nav_menu li{
    width: 100%;
    background-color: #ffffff;
    text-align: center;
    display: inline-block;
  }

  .nav_logo{
    font-size: 14px;
    left: 10px;
  }
  
  .nav_toggleBtn{
    display: contents;
  }

  .nav_menu.active {
    display: flex;
  }

  .swiper{
    margin: 20px 20px;
  }

  .swiper-image{
    width: 140px;
    height: 140px;
  }

  .swiper-image img{
    width: 140px;
    height: 140px;
  }

  .swiper-slide p{
    font-size: 12px;
  }

  /**리스트**/
  .list{
    width: 320px;
  }

  .itemAd{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  h1{
    font-size: 30px;
  }

  .foodli{
    padding-top: 10px;
  }

  figure img{
    width: 120px;
    height: 120px;
  }

  .location-listing{
    width: auto;
  }

  .inner h1{
    font-size: 20px;
  }

  .inner p{
    font-size: 16px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .contents{
      width: 100%;
  }

  .swiper-image{
    width: 200px;
    height: 200px;
  }
}

/* hover styles
.location-listing {
  position: relative;
  display: none;
}

.location-image {
  line-height: 0;
  overflow: hidden;
  border-radius: 15px;
}

.location-image img {
  filter: blur(0px);
  transition: filter 0.3s ease-in;
  transform: scale(1.1);
}

.location-title {
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .5s;
  background: rgba(20,0,10,0.4);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.location-listing:hover .location-title {
  opacity: 1;
}

.location-listing:hover .location-image img {
  filter: blur(2px);
}

모바일화면 터치 
@media (hover: none) {
  .location-title {
    opacity: 1;
  }
  .location-image img {
    filter: blur(2px);
  }
}  
*/

@font-face {
  font-family: "ddag";
  src: url("../Fonts/ddag.ttf") format("truetype");
} 

@font-face {
  font-family: "부대";
  src: url("../Fonts/땅스부대찌개\ Light.ttf") format("truetype");
} 
