body{
    margin:0px;
    font-family: 'Jua', sans-serif;
    background-color:#F3F3F3;
}

h2{
    padding-left: 20px;
    color:dimgray;
    text-align: center;
    font-size: 40px;
}

a{
    text-decoration-line: none;
}

.about{
    text-align: right;
    color: dimgray;
    font-size: 30px;
    padding: 10px 10px;
}

/* 사이트 간판 */
img{
    width: 100%;
    height: auto;
}

.imges{
    position: relative;
    background-image:url(0222.jpg);
    background-repeat: no-repeat;
    height: 60vh;
    background-size: cover;
    object-fit: contain;
    filter: drop-shadow(10px 6px 6px #c3c3c3);
}

.imges .content{
    position: absolute;
    font-family: "Malgun Gothic";
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    font-size:28px;
    color: white;
    z-index: 2;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .imges .content{
      font-size: 20px;
    }

    .grid-container {
      margin: 0px 10px;

  }
}

/* 그리드 */
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
     margin: 0px 100px;
    background-color: #F3F3F3;
    padding: 10px;
    grid-gap: 20px;

}

.location-listing {
  position: relative;
}

/* hover styles */
.location-listing {
  position: relative;
}

.location-image {
  line-height: 0;
  overflow: hidden;
}

.location-image img {
  filter: blur(0px);
  transition: filter 0.3s ease-in;
  transform: scale(1.1);
}

.location-title {
  font-size: 2em;
  font-weight: bold;
  text-decoration: none;
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .5s;
  background: rgba(20,0,10,0.4);
  color: white;

  /* position the text in t’ middle*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.location-listing:hover .location-title {
  opacity: 1;
}

.location-listing:hover .location-image img {
  filter: blur(2px);
}


/* 모바일화면 터치 */
@media (hover: none) {
  .location-title {
    opacity: 1;
  }
  .location-image img {
    filter: blur(2px);
  }
}

